// 전체 레이아웃
.rankingHead{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 40px; 
    border-bottom: 2px solid #a7c65b;
    background-color: #dbedb4;
    z-index: 100;
}
.pageTitle{
    background-image: url('./img/back1.png');
    padding: 10px;
    text-align: center;
}

// 페이지 제목 부분
.title{
    color: #12341c;
    border: 2px solid #12341c;
    padding: 0 3px;
    border-radius: 2rem;
    text-align: center;
    width: 9rem;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}
.type{
    color: #93b26f;
    font-size: 2rem;
    padding-right: 20px;
    font-weight: 100;
}
.rankingBtn{
    margin: 0 auto;
    border: 2px solid #a7c65b;
    background-color: #dbedb4;
    height: 30px;
    font-weight: 100;
    color: #457325;
    font-weight: 700;
}

// 레이스 코스 카테고리 탭 부분
.raceList{
    background-image: url('./img/back2.png');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 100px 0 ; 
    width: 40px;
}
.raceItem{
    width: 100%;
    height: 40px;
}
.raceItem button{
    color: #dbedb4;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20%;
    background: transparent;
}

.myRank{
    background-image: url('./img/back2.png');
    border: 1px solid #dbedb4;
    position: fixed;
    left: 45px;
    top: 105px;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: #dbedb4;
    z-index: 200;
}
.arrow{
    fill: #dbedb4;
    width: 10px;
    height: 10px;
}
.label{
    color: #dbedb4;
}

.car{
    fill: #457325;
    width: 50px;
    height: 25px;
}