.userList{
    padding-top: 140px;
}
.userItem{
    border-top: 1px solid #a7c65b;
    border-bottom: 1px solid #a7c65b;
    text-align: left;
    display: flex;
    line-height: 25px;
    width: 80%;
    margin-left: 15%;
    background: #dbedb4;
}
.userItem:nth-child(1){
    background-color: #9abf78;
    border: solid 2px #3a691c; 
    height: 80px;
    width: 84%;
    color: #12341c;
    line-height: 30px;
    font-size: 1.6rem;
    margin-left: 13%;
}
.userInfo{
    margin: 10px;
}
.userInfo dt{
    white-space: nowrap;
    width: 100%;
}
.img{
    border: 1px solid #aaaaaa;
    background-position: -5px -3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto 0;
    border: #86ad65 2px solid;
}
.rank{
    line-height: 50px;
    font-weight: 700;
    font-size: 1.8rem;
    width: 30px;
    background-image: url('./img/back1.png');
    line-height: 70px;
    margin-right: 10px;
    width: 42px;
    padding-left: 18px;
}
.round{
    line-height: 20px;
}
dd{
    font-family: 'Circular Medium Italic';
    font-size: 1.7rem;
}
.icon{
    width: 42px;
    height: 85px;
    position: absolute;
    fill: #E88A0C;
}
.roundBtnList{
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-left: 10%;
    margin: 10px auto;
}
.roundBtnItem{
    width: 50%;
}
.roundBtnItem button{
    margin: 0 auto;
    background-image: url('./img/back2.png');
    border: 2px solid #dbedb4;
    height: 40px;
    font-weight: 100;
    color: #dbedb4;
    font-weight: 700;
    width: 100%;
    border-radius: 5px;
}