.setting{
    border: 2px solid #93b26f;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    height: 350px;
    background-color: #ffffff; 
    text-align: left;
    padding: 10px;
    background-color: #dbedb4;
    z-index: 200;
}
.arrayList{
    display: flex;
}
.arrayItem{
    margin-right: 10px;
}
.typeList{
    display: flex;
}
.typeBtn{
    border: #86ad65 2px solid;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #9abf78;
    color: #12341c;
    &:hover{
        background-color: #bbe188;
    }
}
.typeItem{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    font-size: 1.2rem;
}
.applyBtn{
    width: 100%;
    background-image: url('./img/back2.png');
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border: none;
    height: 50px;
    color: #dbedb4;
}
.title{
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 2px solid #a7c65b;
    color: #12341c;
    text-align: center;
    border: 2px solid #12341c;
    border-radius: 1.8rem;
}
.subTitle{
    font-size: 1.7rem;
    color: #93b26f;
    background-image: url('./img/back1.png');
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 2px solid #a7c65b;
    border-bottom: 2px solid #a7c65b;
}
.live{
    width: 25px;
    height: 25px;
    fill: #12341c;
}